{
	"printWidth": 95,
	"semi": true,
	"useTabs": true,
	"tabWidth": 4,
	"singleAttributePerLine": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": [
		"^react",
		"^@mui/",
		"<THIRD_PARTY_MODULES>",
		
		
		"^@/app/router(/.*)?$",
		"^@/app/providers(/.*)?$",
		"^@/app/layouts(/.*)?$",
		"^@/app(/.*)?$",

		"^@/features(/.*)?$",

		"/(models|types)/|\\b(models?|types?)\\.|\\.types\\b",
		"/schemas?/|\\bschemas?\\.|\\.(schema|schemas)\\b",
		"/config/|\\bconfig\\b|\\.config",
		"/constants/",
		"/hooks/",
		"/utils/",
		"/services/",
		"/store/",
		"/providers/",
		"/components/|^\\.\\.?\\/[A-Z]",

		"^\\.\\.?/[^\\n]*$",

		"^@/assets(/.*)?$",

		"\\.(css|scss|sass|less|styles)$"
	],

	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
